/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-sep-2018, 14:14:56
    Author     : jesus
*/

    app-player{
        width: 100%;
    }

    .app-header{
        display                 : flex;
        flex-direction          : row;
        width                   : 100%;
        background              : #FFF;  
        height                  : 100px; 
    }
    
    .app-header-row-1{
        width                   : 25%;
    }
    
    .app-header-row-2{
        width                   : 75%; 
        height                  : 150px; 
    }

    .app-section , .app-footer{
        width                   : 90%;
        margin                  : 3% 5% 0 5%; /** Todos los hijos separados top,right,button,left **/
    }
    
    .message.error{
        height                  : 75px; 
        font-size               : 15px; 
    }